<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta_area %} {% endblock %}
    {% block title_area %}{% endblock %}
    {% block css_area %} {% endblock %}
</head>
<body>
    {% block nav_bar %} {% endblock %}
    {% block jump_bar%} {% endblock %}
    {% block main_area %} {% endblock %}
    {% block foot_bar %}{% endblock %}
    <script src="/static/js/jquery-1.11.0.js"></script>
    <script src="/static/js/bootstrap.js"></script>
</body>
</html>