<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css">
        .h2{
            color: #bf8;
            margin: 5px;
        }
        p{
            font-family: 'sans-serif';
            font-size: 16px;
        }
        #question p{
           padding:0px; margin:0px;display: inline;
        }
    </style>
</head>
<body>
    {{ paper.Notice }}
    <br/>

    {% for topic in topics %}
    <div style="margin-bottom: 20px;margin-top: 20px">
    <p style="font-size: 22px;font: blod">
        {%  if topic.PaperNo == paper.Part1Sum %}
                {{ paper.Part1Title }}
        {% elif topic.PaperNo == paper.Part2Sum %}
                {{ paper.Part2Title }}
        {% endif %}
     </p>
        </div>
        <div id="question" style="display: inline">
        {{ topic.PaperNo }}.{{ topic.Question | safe }}<br/>
        <input type="radio"/>{{ topic.OptionA | safe  }}<br/>
        <input type="radio"/>{{ topic.OptionB | safe  }}<br/>
        <input type="radio"/>{{ topic.OptionC | safe  }}<br/>
        <input type="radio"/>{{ topic.OptionD | safe  }}<br/>
        <input type="radio"/>{{ topic.OptionE | safe  }}<br/>
        <input type="radio"/>{{ topic.OptionF | safe  }}<br/>
        </div>
    {% endfor %}
</body>
</html>