<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <style type="text/css">
        .question p{
            display: inline;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row paper_title"><h2>{{ paper.Title }}</h2></div>
    {{ paper.Notice }}<br/>
    {% for topic in topics %}
        {%  if topic.PaperNo == paper.Part1Sum %}
                <h3>{{ paper.Part1Title }}</h3>
        {% elif topic.PaperNo == paper.Part2Sum %}
                 <h3>{{ paper.Part2Title }}</h3>
        {% elif topic.PaperNo == paper.Part3Sum %}
                <h3>{{ paper.Part3Title }}</h3>
        {% elif topic.PaperNo == paper.Part4Sum %}
                <h3>{{ paper.Part4Title }}</h3>
        {% elif topic.PaperNo == paper.Part5Sum %}
                <h3>{{ paper.Part5Title }}</h3>
        {% elif topic.PaperNo == paper.Part6Sum %}
                <h3>{{ paper.Part6Title }}</h3>
        {% endif %}
        <div class="row question" id="question{{ topic.PaperNo }}" style="display: inline">
        {% if topic.Material %}
            {{ topic.Material }}
        {% endif %}
        <strong>{{ topic.PaperNo }} .</strong> {{ topic.Question | safe }}<br/>
        {% if topic.QuestionType == 1 or topic.QuestionType == 3 %}
            <div class="radio">
                <label><input type="radio" name="choice{{ topic.PaperNo }}" id="Choice{{ topic.PaperNo }}A"/>{{ topic.OptionA | safe  }}</label><br/>
                <label><input type="radio"  name="choice{{ topic.PaperNo }}" id="Choice{{ topic.PaperNo }}B" />{{ topic.OptionB | safe  }}</label><br/>
            {% if topic.OptionC %}
                <label><input type="radio"  name="choice{{ topic.PaperNo }}" id="Choice{{ topic.PaperNo }}C" />{{ topic.OptionC | safe  }}</label><br/>
            {% endif %}
            {% if topic.OptionD %}
                <label><input type="radio"  name="choice{{ topic.PaperNo }}" id="Choice{{ topic.PaperNo }}D" />{{ topic.OptionD | safe  }}</label><br/>
            {% endif %}
            {% if topic.OptionE %}
                <label><input type="radio"  name="choice{{ topic.PaperNo }}" id="Choice{{ topic.PaperNo }}E"/>{{ topic.OptionE | safe  }}</label> <br/>
            {% endif %}
            {% if topic.OptionF %}
                <label><input type="radio"  name="choice{{ topic.PaperNo }}" id="F" />{{ topic.OptionF | safe  }}</label><br/>
            {% endif %}
            </div>
        {% elif topic.QuestionType == 2 %}
            <div class="checkbox">
            <label><input type="checkbox" name="choice{{ topic.PaperNo }}" id="Choice{{ topic.PaperNo }}A"/>{{ topic.OptionA | safe  }}</label><br/>
            <label><input type="checkbox"  name="choice{{ topic.PaperNo }}" id="Choice{{ topic.PaperNo }}B" />{{ topic.OptionB | safe  }}</label><br/>
            {% if topic.OptionC %}
            <label><input type="checkbox"  name="choice{{ topic.PaperNo }}" id="Choice{{ topic.PaperNo }}C" />{{ topic.OptionC | safe  }} </label><br/>
            {% endif %}
            {% if topic.OptionD %}
            <label><input type="checkbox"  name="choice{{ topic.PaperNo }}" id="Choice{{ topic.PaperNo }}D" />{{ topic.OptionD | safe  }}</label><br/>
            {% endif %}
            {% if topic.OptionE %}
            <label><input type="checkbox"  name="choice{{ topic.PaperNo }}" id="Choice{{ topic.PaperNo }}E"/>{{ topic.OptionE | safe  }}</label> <br/>
            {% endif %}
            {% if topic.OptionF %}
            <label><input type="checkbox"  name="choice{{ topic.PaperNo }}" id="Choice{{ topic.PaperNo }}F" />{{ topic.OptionF | safe  }}</label><br/>
            {% endif %}
            </div>
        {% endif %}
        </div><!-- end of questions -->
        <hr style="border:1px dashed #c0c0c0;"/>
    {% empty %}
       <em>not topic found!</em>
    {% endfor %}
</div> <!-- end of container -->
    <script src="/static/js/jquery-1.11.0.js"></script>
    <script src="/static/js/bootstrap.js"></script>
</body>
</html>