<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/scojs.css"/>
    <link rel="stylesheet" href="/static/css/sco.message.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, sunt!
        <div class="col-md-8 col-md-offset-2">

        </div>
    </div>
</div>
    <script src="/static/js/jquery-1.11.0.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/plugin/sco.countdown.js"></script>
    <script src="/static/js/plugin/sco.message.js"></script>
    <script>
    $('#countdowner').scojs_countdown({until: 1364382956});
    </script>
</body>
</html>