<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/scojs.css"/>
    <link rel="stylesheet" href="/static/css/sco.message.css"/>
    <style type="text/css">
        .question p{
            display: inline;
        }
        .sidebar{
            position: fixed;
            top: 51px;
            bottom: 0;
            left: 0;
            z-index: 1000;
            display: block;
            padding: 20px;
            overflow-x: hidden;
            overflow-y: auto;
            background-color: #f5f5f5;
            border-right: 1px solid #eee;
        }
        .main{
            padding-top: 40px;
            padding-right: 40px;
            padding-left: 40px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-collapse collapse" style="margin-right: 100px;">
            <ul class="nav navbar-nav navbar-right">
            <li><a href="#">首页</a></li>
            <li><a href="#">设置</a></li>
            <li><a href="#">帮助</a></li>
          </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
<div class="row">
<div class="col-sm-3 col-md-2 sidebar">
    <div class="row">
<ul class="list-group">
    <li class="list-group-item">
        第一部分 <span class="badge">10</span>
    </li>
    <li class="list-group-item">
     第二部分 <span class="badge">10</span>
    </li>
    <li class="list-group-item">
      第三部分 <span class="badge">10</span>
    </li>
    <li class="list-group-item">
        第四部分 <span class="badge">10</span>
    </li>
    <li class="list-group-item">
        第五部分 <span class="badge">10</span>
    </li>
</ul>
</div>
</div>


<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row paper_title"><h2>{{ paper.Title }}</h2></div>
    {{ paper.Notice }}<br/>
    {% for topic in topics %}
        {%  if topic.PaperNo == paper.Part1Sum %}
                <h3>{{ paper.Part1Title }}</h3>
        {% elif topic.PaperNo == paper.Part2Sum %}
                 <h3>{{ paper.Part2Title }}</h3>
        {% elif topic.PaperNo == paper.Part3Sum %}
                <h3>{{ paper.Part3Title }}</h3>
        {% elif topic.PaperNo == paper.Part4Sum %}
                <h3>{{ paper.Part4Title }}</h3>
        {% elif topic.PaperNo == paper.Part5Sum %}
                <h3>{{ paper.Part5Title }}</h3>
        {% elif topic.PaperNo == paper.Part6Sum %}
                <h3>{{ paper.Part6Title }}</h3>
        {% endif %}
        <div class="row question" id="question{{ topic.PaperNo }}" style="display: inline">
        {% if topic.Material %}
            {{ topic.Material }}
        {% endif %}
        <strong>{{ topic.PaperNo }} .</strong> {{ topic.Question | safe }}<br/>
        {% if topic.QuestionType == 1 or topic.QuestionType == 3 %}
            <div class="radio">
                <label><input type="radio" name="choice{{ topic.PaperNo }}" id="Choice{{ topic.PaperNo }}A"/>{{ topic.OptionA | safe  }}</label><br/>
                <label><input type="radio"  name="choice{{ topic.PaperNo }}" id="Choice{{ topic.PaperNo }}B" />{{ topic.OptionB | safe  }}</label><br/>
            {% if topic.OptionC %}
                <label><input type="radio"  name="choice{{ topic.PaperNo }}" id="Choice{{ topic.PaperNo }}C" />{{ topic.OptionC | safe  }}</label><br/>
            {% endif %}
            {% if topic.OptionD %}
                <label><input type="radio"  name="choice{{ topic.PaperNo }}" id="Choice{{ topic.PaperNo }}D" />{{ topic.OptionD | safe  }}</label><br/>
            {% endif %}
            {% if topic.OptionE %}
                <label><input type="radio"  name="choice{{ topic.PaperNo }}" id="Choice{{ topic.PaperNo }}E"/>{{ topic.OptionE | safe  }}</label> <br/>
            {% endif %}
            {% if topic.OptionF %}
                <label><input type="radio"  name="choice{{ topic.PaperNo }}" id="Choice{{ topic.PaperNo }}F" />{{ topic.OptionF | safe  }}</label><br/>
            {% endif %}
            <div id="user_choice{{ topic.PaperNo }}"></div>
            <div id="topic_choice{{ topic.PaperNo }}"></div>
            <div id="suggest_{{ topic.PaperNo }}"></div>
            </div>
        {% elif topic.QuestionType == 2 %}
            <div class="checkbox">
            <label><input type="checkbox" name="choice{{ topic.PaperNo }}" id="Choice{{ topic.PaperNo }}A"/>{{ topic.OptionA | safe  }}</label><br/>
            <label><input type="checkbox"  name="choice{{ topic.PaperNo }}" id="Choice{{ topic.PaperNo }}B" />{{ topic.OptionB | safe  }}</label><br/>
            {% if topic.OptionC %}
            <label><input type="checkbox"  name="choice{{ topic.PaperNo }}" id="Choice{{ topic.PaperNo }}C" />{{ topic.OptionC | safe  }} </label><br/>
            {% endif %}
            {% if topic.OptionD %}
            <label><input type="checkbox"  name="choice{{ topic.PaperNo }}" id="Choice{{ topic.PaperNo }}D" />{{ topic.OptionD | safe  }}</label><br/>
            {% endif %}
            {% if topic.OptionE %}
            <label><input type="checkbox"  name="choice{{ topic.PaperNo }}" id="Choice{{ topic.PaperNo }}E"/>{{ topic.OptionE | safe  }}</label> <br/>
            {% endif %}
            {% if topic.OptionF %}
            <label><input type="checkbox"  name="choice{{ topic.PaperNo }}" id="Choice{{ topic.PaperNo }}F" />{{ topic.OptionF | safe  }}</label><br/>
            {% endif %}
            </div>
        {% endif %}
        </div><!-- end of questions -->
        <hr style="border:1px dashed #c0c0c0;"/>
    {% empty %}
       <em>not topic found!</em>
    {% endfor %}
<div class="row">
    <a id="message_trigger_ok" href="#">Click to see the info message</a>
<a id="message_trigger_err" href="#">Click to see the error message</a>
    <div id="countdowner"></div>
</div> <!-- end of topic container -->
</div> <!-- end of top row -->
</div> <!-- end of top container-->
</div>
    <script src="/static/js/jquery-1.11.0.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/plugin/sco.countdown.js"></script>
<script src="/static/js/plugin/sco.message.js"></script>
<script>
  $('#message_trigger_ok').on('click', function(e) {
    e.preventDefault();
    $.scojs_message('This is an info message', $.scojs_message.TYPE_OK);
  });
  $('#message_trigger_err').on('click', function(e) {
    e.preventDefault();
    $.scojs_message('This is an error message', $.scojs_message.TYPE_ERROR);
    });
</script>

</body>
</html>